{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true,
    "fetch": false
  },
  "rules": {
    "react/state-in-constructor": [0, "always"],
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
